.navbar {
    width: 100%;
    background-color: #fff;
    padding: 0;
    height: 100px;
    color: #000;
    position: fixed;
    list-style-type: none;
    border-bottom: gray 1px solid;
}

.title {
    font-size: 40px;
    font-weight: 1000;
    text-align: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

@media (max-width: 700px) {
    .navbar {
        height: 160px;
    }
}



